<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.java.project.demo.Mapper.dsMapper.UserMapper">
     <resultMap id="baseMap" type="demo.java.project.demo.Eneity.User">
         <id column="id" property="id" jdbcType="INTEGER"></id>
         <result column="user_code" property="userCode" jdbcType="VARCHAR"></result>
     </resultMap>

    <select id="selectAll" resultMap="baseMap">
          select id,user_code from usr
    </select>

</mapper>